* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background: #f55f8d;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.header__content {
  max-width: 1200px;
  height: 90px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.header__logo img {
  width: 100%;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content a {
  text-decoration: none;
  padding: 55px 15px;
  color: #262f5a;
  font-size: 15px;
}

.navbar__content a span {
  display: inline-block;
  transition: all 1s;
}
.navbar__content a:hover {
  color: #f55f8d;
}
.navbar__content a:hover span {
  animation: upToDown 0.3s;
}

.btn--gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin: 10px;
  padding: 20px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200%;
  margin-left: 20px;
  color: white;
  border-radius: 30px;
  display: block;
  font-size: 15px;
  border: none;
}

.btn--gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.banner__left button {
  margin-left: 0;
  margin-top: 20px;
}

/* Banner */
.banner {
  padding-top: 180px;
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-image: url(/CyberSoft/Samar/Image/pic2.png);
  background-repeat: no-repeat;
  background-position: top;
}


.banner__subtitle,
.services__subtitle,
.right__subtitle,
.works__subtitle,
.plan__subtitle,
.testimonial__subtitle,
.blog__subtitle {
  color: #f55f8d;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
}

.banner__title p,
.services__title p,
.right__title p,
.works__title p,
.plan__title p,
.testimonial__title p,
.blog__title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #262626;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.1;
}

.banner__content p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
  font-weight: 400;
}

.banner__subcontent {
  display: flex;
  align-items: center;
}

.banner__subcontent p {
  font-size: 20px;
  padding: 10px 5px 10px 10px;
  color: #636363;
}

.banner__subcontent i {
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 35px;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

.banner__right {
  margin-left: 50px;
  position: relative;
  width: 570px;
}

.banner img {
  height: 100%;
  max-width: 100%;
}

.banner__right .move-2 {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__right .move-2 img {
  transform: scale(1.4);
}

.move-2 {
  animation: move2 5s infinite;
}

/* Services */
.services {
  margin: auto;
  max-width: 1200px;
  text-align: center;
  padding-top: 80px;
}

.services__title {
  margin-bottom: 50px;
}

.container {
  display: flex;
}

.block__icon {
  width: 100%;
  margin-bottom: 25px;
}

.block__icon img {
  width: 100%;
}

.services__content {
  padding: 0 15px;
}

.content__blocks {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 50px #63636315;
}

.block__title p {
  font-size: 25px;
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.block__text p {
  text-align: center;
  color: #636363;
  font-size: 16px;
}

.content__blocks:hover {
  transform: translateY(-15px);
  transition: 1s;
}

/* about */

.about {
  position: relative;
  padding-top: 80px;
}

.about img {
  width: 100%;
}

.about__blocks {
  position: absolute;
  top: 150px;
  margin: auto;
}

.about__blocks img {
  width: fit-content;
  background-size: cover;
}

.about__content {
  width:80%;
  margin: auto;
  display: flex;
  margin-bottom: 80px;
}

.block__left {
  width: 50%;
}

.left__bg {
  position: relative;
  width: 50vw;
  left: -42%;
}

.left__bg::before {
  content: "";
  height: 100%;
  background: #fef2f6;
  position: absolute;
  top: 0;
  width: 50vw;
  right: -13px;
  transform: rotate(8deg);
  border-radius: 0 100px 100px 0;
}

.left__bg img {
  width: 100%;
  border-radius: 0 100px 100px 0;
  position: relative;
}

.about .right__des p {
  margin-bottom: 15px;
}

.right__icon {
  display: flex;
  align-items: center;
}

.right__icon p {
  font-size: 15px;
  padding: 8px 5px 8px 8px;
  color: #636363;
}

.right__button button {
  margin-left: 0;
  margin-top: 20px;
}

.right__icon i {
  font-size: 15px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 24px;
  background-size: 200%;
  color: #f55f8d;
  border: 2px solid;
}

/* Number */
.number {
  position: relative;
  padding-bottom: 50px;
  background-image: url(../Image/bg14.png);
  background-position: center;
  background-color: #fffbf7;
}

.number__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.number__blocks {
  margin: 0 8px;
  text-align: center;
  margin-bottom: 15px;
  padding: 80px 15px;
  z-index: 1;
}
.number__icon {
  margin-bottom: 15px;
}

.number__icon i {
  height: 80px;
  text-align: center;
  width: 80px;
  line-height: 80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
}
.number__title span {
  font-size: 65px;
  margin-right: 5px;
  font-weight: 800;
  color: #f55f8d;
  font-family: "Poppins", sans-serif !important;
}

.number__des {
  font-size: 18px;
  color: #262626;
}

/* Feature */
.feature {
  padding-top: 115px;
}

.feature .container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.feature__title p {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #262626;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.1;
}

.feature__subtitle p {
  color: #f55f8d;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
}

.feature__content {
  padding: 0 15px;
  max-width: 50%;
}

.featureblock__content {
  display: flex;
  align-items: center;
}

.icon__img i {
  font-size: 80px;
  color: #f55f8d;
}

.icon__blocks {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 1s;
  overflow: hidden;
  z-index: 9;
  position: relative;
  z-index: 1;
  transition: all 1s;
}

.icon__blocks::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 1s;
  opacity: 0;
  top: 0;
  left: 0;
}

.icon__blocks:hover::after {
  opacity: 1;
  color: white;
}

.icon__blocks:hover p,
.icon__blocks:hover span,
.icon__blocks:hover i {
  color: white;
}

.icon__block-1,
.icon__block-3 {
  margin-right: 50px;
  margin-bottom: 30px;
}

.icon__block-mr {
  margin-left: 30px;
  margin-bottom: 30px;
}

.blocks__content {
  display: flex;
}

.icon__img a {
  text-decoration: none;
}

.icon__content {
  padding-left: 15px;
}

.icon__content p {
  font-size: 22px;
  font-weight: 800;
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 10px;
}

.icon__content span {
  line-height: 1.6;
}

.feature__img img {
  width: 90%;
  background-size: cover;
  margin-left: 15px;
}

.feature__img .move-1 {
  top: 0;
  height: 100%;
}
.feature__img .move-1 img {
  transform: scale(1.4);
}

.move-1 {
  animation: move2 5s infinite;
}
/* Works */
.works {
  padding-top: 150px;
  background-image: url(/CyberSoft/Samar/Image/bg17.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  top ce;
}

.works__content {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.grid__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.grid__item-1 {
  grid-column: 1 / span 2;
}

.grid__item-5 {
  grid-column: 1 / span 2;
}

.grid__item-6 {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row: 2 / span 3;
  margin-bottom: 20px;
}

.grid__item {
  position: relative;
  overflow: hidden;
}

.grid__item img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.overlay-shine {
  position: relative;
  overflow: hidden; 
  max-width: cover;
}

.overlay-shine::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  max-width: cover;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg); 
}
.overlay-shine:hover::before {
  animation: shine .75s; 
}

.grid__item .grid__item__overlay {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
}

.grid__item__overlay .overlay-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.grid__item .grid__item__overlay:hover{
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-icon {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  z-index: 2;
  color: #fff;
  right: 0;
  font-size: 28px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  line-height: 50px;
  cursor: pointer;
  background-size: 200%;
  transition: all 1s;
}


.grid__item__overlay:hover .overlay-icon {
  position: absolute;
  opacity: 1;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.overlay-icon:hover {
  background-position: right center; 
}

.overlay-info {
  bottom: 0;
  left: 0;
  padding: 30px;    
  transition: all 1s;
  opacity: 1;
}

.overlay-info .title,
.overlay-info .author {
  margin-bottom: 0px;
  transition: all 1s;
  transform: translateY(200px);
  transition-delay: 0.4s;
  opacity: 1; 
}

.overlay-info .title a {
  color: #fff; 
  text-decoration: none;
}

.overlay-info .author a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none; 
}
.overlay-info .author {
  margin-bottom: 0;
  margin-left: 0;
  text-align: start;
}

.overlay-info .title {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}

.grid__item__overlay:hover .overlay-info .title,
.grid__item__overlay:hover .overlay-info .author {
  transform: translateY(0);
  opacity: 1;
  z-index: 99999; 
}

/* Plan */
.plan {
  background-image: url(/CyberSoft/Samar/Image/bg16.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.plan__content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.plan__header {
  text-align: center;
}

.plan__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  display: flex;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 235px;
  background-size: 200%;
  padding: 4px;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px 0 #f55f8d);
}

.plan__tabs p {
  font-size: 14px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  transition: all 1s;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
}

.plan__tabs::after {
  content: "";
  width: calc(50% - 4px);
  display: block;
  height: 42px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 4px;
  right: auto;
  z-index: -1;
  transition: all 1s;
}

/* Table */
.plan__table {
  display: flex;
}

.table__blocks {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px !important;
  border-image: none;
  transition: all 0.5s;
  border-image: 100 round;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  margin-right: 30px;
  transition: all 0.5s;
  background-color: #fff;
}

.table__blocks:hover {
  border-image: url('/CyberSoft/Samar/Image/br.png') 1 round;
}

.table__title p {
  color: #262626;
  font-weight: 700;
  font-size: 32px;
  text-align: center; 
}

.table__img img {
  width: 60%;
  margin-left: 30px;
}
.table__img {
  margin-top: 10px;
}
.table__price {
  text-align: center;
  margin-bottom: 30px;
}

.table__detail li {
  display: flex;
  align-items: center;
}

.table__detail {
  border-top: 1px solid #E1E1F0;
  padding-top: 15px;
}

.table__price p {
  color: #f8ae56 ;
  font-size: 50px;
  font-weight: 800;
}

.table__price small {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
  text-align: center;
}

.table__detail li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  background: rgba(245, 95, 141, 0.1);
  left: 0;
  color: #f55f8d;
  border-radius: 50%;
  text-align: center;
  top: 6px;
  margin: 4px 0;
  line-height: 26px;
  transition: all 1s;
}

.table__detail li p {
 padding-left: 15px;
 font-size: 18px;
}

.table__content button {
  margin-left: 40px;
}

/* Testimonial */

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}

.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  position: relative;
}

.testimonial-name {
  font-size: 22px;
  font-family: "Poppins", san-serif;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-position {
  font-size: 15px;
  color: #f55f8d !important;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #f55f8d;
  padding: 8px 0;
}

.testimonial-text span {
  padding-top: 8px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #636363;
  text-align: center;
  line-height: 1.6;
}

.testimonial-text i {
  position: absolute;  
  top: 8px;
  left: 30px;
  right: auto;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(180deg);
}

.testimonial-pic {
  width: auto;
  height: auto;
  border: 0;
  padding: 30px 0 0;
  transition: all 1s; 
}

.testimonial-pic img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  background-color: #f55f8d;
}

.testimonial-pic .shape {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  opacity: 0;
  z-index: 0;
  transition: all 1s; 
}

.testimonial-pic .shape::before, 
.testimonial-pic .shape::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 1s; 
}

.testimonial-pic .shape::after {
  background: url(../Image/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 35px;
  width: 50px; 
}

.testimonial-pic .shape::before {
  background-color: #f55f8d;
  height: 35px;
  width: 50px; 
}

.testimonial-pic::before, 
.testimonial-pic::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 20px; 
}

.testimonial-thumbs .testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0; 
}

.swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px; 
}

.swiper-slide-thumb-active .testimonial-pic .shape {
    opacity: 1; 
}

 .testimonial-pic::before, 
 .testimonial-pic::after {
    opacity: 1; 
}

.testimonial-content .swiper-pagination-bullet-active {
  background-color: #f55f8d; 
}

/* Blog */

.blog__content {
  max-width: 1200px;
  margin: auto;
}

.blog__grid {
  display: flex;
  max-width: 1200px;
}

.blog__item {
  cursor: grab;
  background: rgba(245, 95, 141, 0.1);
  margin: 0 15px;
  border-radius: 8px;
  width: calc(33.333%);
}

.blog__item-img img {
  border-radius: 8px;
  width: 100%;
}

.blog__title, .blog__subtitle {
  text-align: center;
}

.info__title p {
  margin-bottom: 20px;
  color: #262626;
  font-size: 25px;
  font-family: "Popins", sans-serif;
  font-weight: 700;
}

.info__title {
  margin: 30px 15px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info__title a {
  text-decoration: none;
  color: #262626;
}

.info__title a:hover {
  color: #dd3e6e;
  transition: 0.5s;
}

.info__title span {
  color: #636363;
  margin-bottom: 20px;
}

.info__detail {
  display: flex;
  position: relative;
  align-items: center;
}

.info__author {
  display: flex;
  align-items: center;
}

.info__date {
  position: absolute;
  top: -230px;
  left: 18px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff ;
  font-weight: 400;
  line-height: 1;
  z-index: 1;
}

.info__author, .info__cmt {
  margin-left: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.info__author i, .info__cmt i {
  font-size: 20px;
  color: #f55f8d;
  margin-right: 3px;
}

.info__author a, .info__cmt a {
  text-decoration: none;
  color: #636363;
}
.info__author a {
  color: #dd3e6e;
  margin-left: 5px;
}

.slick-arrow {
  visibility: hidden;
}

/* logo */
.logo__loop {
  margin: 80px 0;
}

.logo__content {
  max-width: 1200px;
  margin: 80px auto;
}

.logo__grid {
  display: flex;
}

.logo__item {
  margin: 0 8px;
}

.clients-logo {
  padding: 20px 10px;
  height: 100px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  transition: all 1s;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin: 12px;
}

.clients-logo img {
  width: auto !important;
  border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


.clients-logo:hover {
  position: relative;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.4);
  background-size: 200%;
  height: 100%;
  width: 100%;
  margin: 12px;
  cursor: grab;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 10px;
  transition: 0.5;
}

.img-hover, .img-main {
  margin: 0 8px;
}


.clients-logo .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.clients-logo:hover .img-main {
  opacity: 0;
}

.clients-logo:hover .img-hover {
  opacity:1;
  padding: 20px 30px;
}
 

/* Footer */
.footer {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto !important;
    background-color: #0e1b1f;
    background-size: contain;
    z-index: 1; 
  }

.footer::before {
  position: absolute;
  content: "";
  background-image: url(../Image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.footer__subscribe-content {
  padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../Image/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer__subscribe-content {
  display: flex;
  align-items: center;
}

.subscribe__title p {
  font-size: 28px;
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.subscribe__title {
  margin-right: 60px;
}

.input__group {
  display: flex;
  width: 56%;
}

input {
  font-size: 16px;
  outline: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  outline: 0;
  height: 60px;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  transition: all 0.3s ease-in-out;
  width: 100%;
  flex-grow: 50px;
}

input:hover {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-color: #f55f8d;
  transition: 0.5s;
}

.email__gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 21px 35px 20px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 15px;
  border: none;
  flex: 0 0 100px;
  margin-left: -5px;
}

.email__gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.footer__top {
  padding: 70px 0;
  background-image: url(../Image/pic2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__top-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}


.top__info-logo {
  margin-bottom: 20px;
}

.top__info-des ul li {
  display: flex;
  padding: 8px 0;
}


.top__info-des ul, 
.top__link-des ul, 
.top__services-des ul,
.top__other-des ul {
  list-style: none;
}

.top__info-des ul li span {
  color: #fff;
  opacity: 0.5;
}

.top__info-des ul li i {
  color: #fff;
}

.top__info-des ul li i {
  height: 40px;
  width: 40px;
  min-width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin-right: 10px;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 30px;
  font-size: 15px;
}


.top__info-des ul li i:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.top__link-title p,
.top__services-title p,
.top__other-title p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 10px;
}


.top__link-title,
.top__services-title,
.top__other-title {
  position: relative;
}

.top__link-title .short,
.top__services-title .short,
.top__other-title .short {
  width: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

.top__link-title .long,
.top__services-title .long,
.top__other-title .long {
  width: 45px;
    left: 20px;
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

.top__link-des,
.top__services-des,
.top__other-des {
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
}

.top__link-des a,
.top__services-des a,
.top__other-des a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
  padding-left: 8px;
}

.top__link-des li,
.top__services-des li,
.top__other-des li {
  padding: 8px 0;

}

.footer__bottom {
  background-color: #1f343b;

}

.footer__bottom-content {
  padding: 10px 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.footer__bottom p {
  color: rgba(255, 255, 255, 0.5);
}

.footer__bottom p a {
  text-decoration: none;
  color: #f55f8d;
  font-size: 15px;
}

.footer__bottom-content ul {
  display: flex;
  list-style: none;
}

.footer__bottom-content ul li {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s;
  margin: 4px;
}

.footer__bottom-content ul li:hover {
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
}
/* Scroll */
.scrollup a {
  box-shadow: -4px 4px 24px -10px #f55f8d;
  background-color: #f55f8d;
  border-color: #f55f8d;
  border-radius: 4px;
  line-height: 50px;
  width: 50px;
  position: fixed;
  z-index: 100;
  right: 15px;
  bottom: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.scrollup i {
  color: white;
}

.cart a {
  background: linear-gradient(45deg, #1ebbf0 8%, #39dfaa 100%);
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  position: fixed;
  z-index: 100;
  left: 15px;
  bottom: 80px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.cart i,
.shopping i {
  color: white;
}

.shopping a {
  background: linear-gradient(to bottom, #A3D179 0%, #88BA46 100%);
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  position: fixed;
  z-index: 100;
  left: 15px;
  bottom: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* animation */

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%; } 
  }
@keyframes shine {
  100% {
    left: 125%; 
  } 
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
